<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test:3 Ujjval Patel - 153763214</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/BSD">BSD Students</a></li>
            <li><a href="/allStudents">All Students</a></li>
            <li><a href="/highGPA">Highest GPA</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <hr>
    <div>
        {{{body}}}
    </div>
    <hr>
    <aside>
    <h2>Declaration</h2>
    <p>I acknowledge the Seneca College's academic integrity policy <br>
    On my honor, I have neither given or received unauthorised aid on this test.
    </p>
    <span>Name: </span>
    <span style='background-color: yellow;' >Ujjval Patel</span> <br> <br> 
    <span>Student: </span><span style='background-color: yellow;' >153763214</span><br><br>
    </aside>
</body>
</html>